[user]
	name = VisualDudek
	email = dudek.v@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[diff]
	tool = vimdiff
[alias]
	#hist = log --oneline --graph --decorate --all
	hist = !git --no-pager log --oneline --graph --decorate --all
	histf = !git --no-pager log --oneline --graph --decorate --all --name-status
	########
	ls = ls-files

