[user]
	name = VisualDudek
	email = dudek.v@gmail.com
[core]
	editor = vim
	excludefile = ~/.gitignore_global
[push]
	default = simple
[diff]
	tool = vimdiff
[alias]
	hist = log --oneline --graph --decorate --all
	########
	ls = ls-files

